In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/the-movies-dataset/ratings.csv
/kaggle/input/the-movies-dataset/links_small.csv
/kaggle/input/the-movies-dataset/credits.csv
/kaggle/input/the-movies-dataset/keywords.csv
/kaggle/input/the-movies-dataset/movies_metadata.csv
/kaggle/input/the-movies-dataset/ratings_small.csv
/kaggle/input/the-movies-dataset/links.csv

In [3]:
file_path = '/kaggle/input/the-movies-dataset/movies_metadata.csv'

df = pd.read_csv(file_path, low_memory=False)

print("Shape of origin data:", df.shape)
display(df.head())
print("Infomation of data", df.info())

Shape of origin data: (45466, 24)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB
Infomation of data None

In [7]:
df = df[['id', 'title', 'overview']]
display(df.iloc[:100])
df.dropna(subset=['overview', 'title'], inplace=True)

df['id'] = pd.to_numeric(df['id'], errors='coerce')
df.dropna(subset=['id'], inplace=True)
df['id'] = df['id'].astype(int)

df.drop_duplicates(subset='title', inplace=True)

df.reset_index(drop=True, inplace=True)

print("Shape of df", df.shape)

,id,title,overview
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...
3,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom..."
4,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...
...,...,...,...
95,406,La Haine,Aimlessly whiling away their days in the concr...
96,45549,Shopping,"A dark, hip, urban story of a barren and anony..."
97,63076,Heidi Fleiss: Hollywood Madam,A documentary crew from the BBC arrives in L.A...
98,11062,City Hall,The accidental shooting of a boy in New York l...
99,13685,Bottle Rocket,Upon his release from a mental hospital follow...

Shape of df (41371, 3)

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english', min_df=3)
print("Matrix TFIDF is creating...")
tfidf_matrix = tfidf.fit_transform(df['overview'])
print("Done")
print(tfidf_matrix)

Matrix TFIDF is creating...
Done
<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 24 stored elements and shape (1, 27598)>
  Coords	Values
  (0, 6954)	0.13857378314512614
  (0, 1712)	0.15049608734904157
  (0, 14237)	0.103890307788299
  (0, 8634)	0.10691503712524958
  (0, 7722)	0.13552154637182587
  (0, 17766)	0.10557229868041908
  (0, 22029)	0.1338626858166488
  (0, 4596)	0.12889217008749315
  (0, 18724)	0.1382106777284931
  (0, 11333)	0.10382588757842726
  (0, 18634)	0.09425175727617775
  (0, 14742)	0.12207626134913327
  (0, 792)	0.14525660798872406
  (0, 21682)	0.11651245338635531
  (0, 3674)	0.5115968370722829
  (0, 3395)	0.10892756318998989
  (0, 2794)	0.12685590524106546
  (0, 21149)	0.1150498491693708
  (0, 11135)	0.13715936932867442
  (0, 14576)	0.0892108353308929
  (0, 25195)	0.15260016294905532
  (0, 1257)	0.4233299952987295
  (0, 27204)	0.4891486740332454
  (0, 14257)	0.10990606710617296

In [11]:
from sklearn.metrics.pairwise import linear_kernel

cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
print("Shape of sim matrix:", cosine_sim.shape)
print("\nSome sample of matrix (5x5):")
print(cosine_sim[:5, :5])

Shape of sim matrix: (41371, 41371)

Some sample of matrix (5x5):
[[1.         0.01569495 0.         0.         0.        ]
 [0.01569495 1.         0.04681648 0.         0.        ]
 [0.         0.04681648 1.         0.         0.02510238]
 [0.         0.         0.         1.         0.        ]
 [0.         0.         0.02510238 0.         1.        ]]

In [12]:
indices = pd.Series(df.index, index=df['title'])

def get_recommendations(title, cosine_sim=cosine_sim, data=df, indices=indices):
    try:
        idx = indices[title]
    except KeyError:
        print(f"The movie {title} is not exist in data")

    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]

    return data['title'].iloc[movie_indices]

print("--- Gợi ý cho 'The Dark Knight Rises' ---")
display(get_recommendations('The Dark Knight Rises'))

print("\n--- Gợi ý cho 'The Matrix' ---")
display(get_recommendations('The Matrix'))

print("\n--- Gợi ý cho 'Toy Story' ---")
display(get_recommendations('Toy Story'))

--- Gợi ý cho 'The Dark Knight Rises' ---

149                                         Batman Forever
12041                                      The Dark Knight
1311                                        Batman Returns
583                                                 Batman
14858                           Batman: Under the Red Hood
20041    Batman Unmasked: The Psychology of the Dark Kn...
8966                    Batman Beyond: Return of the Joker
33075                                    Batman: Bad Blood
18775              Batman: The Dark Knight Returns, Part 1
17165                                     Batman: Year One
Name: title, dtype: object

--- Gợi ý cho 'The Matrix' ---

40242                        A Detective Story
26654                     Stand by Me Doraemon
40247                              Kid's Story
40243                             World Record
31216                                Algorithm
19597    Underground: The Julian Assange Story
166                                    Hackers
6399                                  Commando
8899                                  Takedown
9102                             The Animatrix
Name: title, dtype: object

--- Gợi ý cho 'Toy Story' ---

14706                                     Toy Story 3
2945                                      Toy Story 2
9984                           The 40 Year Old Virgin
23026                                       Small Fry
22416                     Andy Hardy's Blonde Trouble
39622                Andy Kaufman Plays Carnegie Hall
27150                                      Hot Splash
35248    Superstar: The Life and Times of Andy Warhol
39001    Andy Peters: Exclamation Mark Question Point
5695                                    Class of 1984
Name: title, dtype: object